.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.App header {
  text-align: center;
  background-color: aquamarine;
  margin-bottom: auto;
  width: 100%;
  padding: 1rem;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3rem;
}
.search-bar {
  display: flex;
  gap: 1rem;
}
.book-card {
  border: 3px solid;
  padding: 1rem 1rem;
  width: fit-content;
  margin: 1rem;
  box-sizing: border-box;
  box-shadow: 1px 2px 2px 1px rgb(147, 142, 142);
}
.book-card img {
  border: 2px solid;
  width: 300px;
  height: 300px;
}
.book-card h4,
p {
  width: 300px;
}
.wishList {
  padding: 0 1rem;
  margin: 1rem;
  height: fit-content;
  box-sizing: border-box;
  box-shadow: 1px 2px 2px 1px rgb(140, 131, 131);
}

.wishList-item {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid;
  gap: 2rem;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 1px 2px 2px 1px rgb(147, 142, 142);
}
